html {
  margin:0px;
  padding:0px;
  background-color: #ffffff;
}
body {
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  background-color: #ffffff;
  overflow:hidden;
}
.main-container {
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width:950px;
  margin:0px;
  padding:0px;
}

.right-block-icon-item {
	margin-left:10px;
	cursor:pointer;
}
.right-block-icon-item > img {
	width: 80px;
}
.right-block-icons-container {
        display:none;
	position: absolute;
	top: 5%;
	right: 0px;
	margin: 75px 0 0 0;
	border-bottom: solid 1px #000000;
	width: 0%;
}
.right-block-icons {
	position: absolute;
	top: -84px;
	right: 200px;
	width: 300px;
	min-width: 300px;
}

.left-bg {
  background-color: #000000;
  height: 100%;
  min-width:200px;
  width:25%;
  position: relative;
  top: 0px;
  left: 0px;
  display: inline-block;
}

.right-bg {
  background-color: #ffffff;
  height: 100%;
  width: 74%;
  min-width: 600px;
  position: relative;
  top: 0px;
  left: -4px;
  display: inline-block;
}

.left-block {
	height: auto;
	width: auto;
	position: absolute;
	right: 0px;
	top: 80%;
	margin:0px;
}

.right-block {
	height: auto;
	width: auto;
	position: absolute;
	left: 0px;
	top: 80%;
	margin: 0px;
}

.rzzt-logo1-container {
  position: relative;
}
.rzzt-logo1-container > i {
  position: absolute;
  top: 80%;
  right: 0px;
}
.rzzt-logo1-container > i:nth-child(2),
.rzzt-logo1-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  clip: rect(0, 0, 0, 0);
}
.rzzt-logo1-container > i:nth-child(2) {
  position: absolute;
  top: 80%;
  left: 2px;
}
.rzzt-logo1-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  left: -2px;
}

.rzzt-logo2-container {
  position: relative;
}
.rzzt-logo2-container > i {
  position: absolute;
  top: 80%;
  left: 0px;
}
.rzzt-logo2-container > i:nth-child(2),
.rzzt-logo2-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  clip: rect(0, 0, 0, 0);
}
.rzzt-logo2-container > i:nth-child(2) {
  position: absolute;
  top: 80%;
  left: 2px;
}
.rzzt-logo2-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  left: -2px;
}

.rzzt-logo3-container {
  position: relative;
}
.rzzt-logo3-container > i {
  position: absolute;
  top: 80%;
  left: 0px;
}
.rzzt-logo3-container > i:nth-child(2),
.rzzt-logo3-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  clip: rect(0, 0, 0, 0);
}
.rzzt-logo3-container > i:nth-child(2) {
  position: absolute;
  top: 80%;
  left: 2px;
}
.rzzt-logo3-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  left: -2px;
}

.rzzt-logo4-container {
  position: relative;
}
.rzzt-logo4-container > i {
  position: absolute;
  top: 80%;
  left: 0px;
}
.rzzt-logo4-container > i:nth-child(2),
.rzzt-logo4-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  clip: rect(0, 0, 0, 0);
}
.rzzt-logo4-container > i:nth-child(2) {
  position: absolute;
  top: 80%;
  left: 2px;
}
.rzzt-logo4-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  left: -2px;
}

.rzzt-logo1 {
  position: absolute;
  width: 100px;
  height: 125px;
}

.rzzt-logo1 > i {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 125px;
  background-color: #ffffff;
  left: 0px;
  top: 0px;
}

.rzzt-logo1 > i + i {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 75px;
  background-color: #000000;
  left: 50px;
  top: 50px;
}

.rzzt-logo2 {
	position: relative;
}

.rzzt-logo2 > i {
	position: absolute;
	display: inline-block;
	width: 275px;
	height: 125px;
	background-color: #000000;
	left: 0px;
	top: 0px;
}

.rzzt-logo2 > i + i {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 75px;
  background-color: #ffffff;
  left: 0px;
  top: 50px;
}

.rzzt-logo2 > i + i + i {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 50px;
  background-color: #ffffff;
  left: 100px;
  top: 0px;
}

.rzzt-logo2 > i + i + i + i {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #ffffff;
  left: 100px;
  top: 50px;
}

.rzzt-logo3 {
  position: relative;
}

.rzzt-logo3 > i + i {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 75px;
  background-color: #ffffff;
  left: 150px;
  top: 50px;
}

.rzzt-logo3 > i + i + i {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 75px;
  background-color: #ffffff;
  left: 225px;
  top: 0px;
}

.rzzt-logo4 {
  position: relative;
}

.rzzt-logo4 > i {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 125px;
  background-color: #ffffff;
  left: 250px;
  top: 0px;
}

.rzzt-logo4 > i + i {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 75px;
  background-color: #ffffff;
  left: 275px;
  top: 50px;
}

.rzzt-logo4 > i + i + i {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  left: 250px;
  top: 50px;
}
