.right-block-icons-container {
  position: absolute;
  top: 80%;
  right: 1%;
}
.right-block-icons {
  position: absolute;
  top: -50px;
  right: 200px;
}

.left-bg {
  background-color: #ffe818;
  height: 100%;
  width: 25%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.right-bg {
  background-color: #000000;
  background-size: 100%;
  background-position: 6em 6em;
  background-repeat: no-repeat;
  height: 100%;
  width: 75%;
  min-width:300px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.left-block {
  height: 75px;
  width: 50px;
  position: absolute;
  right: 0px;
  top: 80%;
}

.right-block {
  height: 75px;
  width: 150px;
  position: absolute;
  left: 0px;
  top: 80%;
}

.rzzt-logo1-container {
  position: relative;
}
.rzzt-logo1-container > i {
  position: absolute;
  top: 80%;
  left: 0px;
}
.rzzt-logo1-container > i:nth-child(2),
.rzzt-logo1-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  clip: rect(0, 0, 0, 0);
}
.rzzt-logo1-container > i:nth-child(2) {
  position: absolute;
  top: 80%;
  left: 2px;
}
.rzzt-logo1-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  left: -2px;
}

.rzzt-logo2-container {
  position: relative;
}
.rzzt-logo2-container > i {
  position: absolute;
  top: 80%;
  left: 0px;
}
.rzzt-logo2-container > i:nth-child(2),
.rzzt-logo2-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  clip: rect(0, 0, 0, 0);
}
.rzzt-logo2-container > i:nth-child(2) {
  position: absolute;
  top: 80%;
  left: 2px;
}
.rzzt-logo2-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  left: -2px;
}

.rzzt-logo3-container {
  position: relative;
}
.rzzt-logo3-container > i {
  position: absolute;
  top: 80%;
  left: 0px;
}
.rzzt-logo3-container > i:nth-child(2),
.rzzt-logo3-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  clip: rect(0, 0, 0, 0);
}
.rzzt-logo3-container > i:nth-child(2) {
  position: absolute;
  top: 80%;
  left: 2px;
}
.rzzt-logo3-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  left: -2px;
}

.rzzt-logo4-container {
  position: relative;
}
.rzzt-logo4-container > i {
  position: absolute;
  top: 80%;
  left: 0px;
}
.rzzt-logo4-container > i:nth-child(2),
.rzzt-logo4-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  clip: rect(0, 0, 0, 0);
}
.rzzt-logo4-container > i:nth-child(2) {
  position: absolute;
  top: 80%;
  left: 2px;
}
.rzzt-logo4-container > i:nth-child(3) {
  position: absolute;
  top: 80%;
  left: -2px;
}

.rzzt-logo1 {
  position: absolute;
}

.rzzt-logo1 > i {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 62.5px;
  background-color: #000000;
  left: 0px;
  top: 0px;
}

.rzzt-logo1 > i + i {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 37.5px;
  background-color: #ffe818;
  left: 25px;
  top: 25px;
}

.rzzt-logo2 {
  position: relative;
}

.rzzt-logo2 > i {
  position: absolute;
  display: inline-block;
  width: 137.5px;
  height: 62.5px;
  background-color: #ffe818;
  left: 0px;
  top: 0px;
}

.rzzt-logo2 > i + i {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 37.5px;
  background-color: #000000;
  left: 0px;
  top: 25px;
}

.rzzt-logo2 > i + i + i {
  position: absolute;
  display: inline-block;
  width: 12.5px;
  height: 25px;
  background-color: #000000;
  left: 50px;
  top: 0px;
}

.rzzt-logo2 > i + i + i + i {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 12.5px;
  background-color: #000000;
  left: 50px;
  top: 25px;
}

.rzzt-logo3 {
  position: relative;
}

.rzzt-logo3 > i + i {
  position: absolute;
  display: inline-block;
  width: 12.5px;
  height: 37.5px;
  background-color: #000000;
  left: 75px;
  top: 25px;
}

.rzzt-logo3 > i + i + i {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 37.5px;
  background-color: #000000;
  left: 112.5px;
  top: 0px;
}

.rzzt-logo4 {
  position: relative;
}

.rzzt-logo4 > i {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 62.5px;
  background-color: #ffe818;
  left: 125px;
  top: 0px;
}

.rzzt-logo4 > i + i {
  position: absolute;
  display: inline-block;
  width: 12.5px;
  height: 37.5px;
  background-color: #000000;
  left: 137.5px;
  top: 25px;
}

.rzzt-logo4 > i + i + i {
  position: absolute;
  display: inline-block;
  width: 12.5px;
  height: 12.5px;
  background-color: #000000;
  left: 125px;
  top: 25px;
}
