.main-div {
  
}
.left-bg {
  background-color:#782ebf;
  height:100%;
  width:25%;
  position:absolute;
  top:0px;
  left:0px;
}
.right-bg {
  background-color:#27aeb4;
  height:100%;
  width:75%;
  position:absolute;
  top:0px;
  right:0px;
}
.left-block {
    height: 750px;
    width: 50px;
    position:absolute;
    right:0px;
    top:80%;
}
.right-block {
    height: 75px;
    width: 150px;
    position:absolute;
    left:0px;
    top:80%;
}




.rzzt-logo1 {
    position: relative;
}
.rzzt-logo1 > i {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 62.5px;
    background-color: #27aeb4;
    left: 0px;
    top: 0px;
}
.rzzt-logo1 > i+i {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 37.5px;
    background-color: #782ebf;
    left: 25px;
    top: 25px;
}



.rzzt-logo2 {
    position: relative;
}
.rzzt-logo2 > i {
    position: absolute;
    display: inline-block;
    width: 137.5px;
    height: 62.5px;
    background-color: #782ebf;
    left: 0px;
    top: 0px;
}
.rzzt-logo2 > i+i {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 37.5px;
    background-color: #27aeb4;
    left: 0px;
    top: 25px;
}
.rzzt-logo2 > i+i+i {
    position: absolute;
    display: inline-block;
    width: 12.5px;
    height: 25px;
    background-color: #27aeb4;
    left: 50px;
    top: 0px;
}
.rzzt-logo2 > i+i+i+i {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 12.5px;
    background-color: #27aeb4;
    left: 50px;
    top: 25px;
}




.rzzt-logo3 {
    position: relative;
}


.rzzt-logo3 > i+i {
    position: absolute;
    display: inline-block;
    width: 12.5px;
    height: 37.5px;
    background-color: #27aeb4;
    left: 75px;
    top: 25px;
}
.rzzt-logo3 > i+i+i {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 37.5px;
    background-color: #27aeb4;
    left: 112.5px;
    top: 0px;
}




.rzzt-logo4 {
    position: relative;
}
.rzzt-logo4 > i {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 62.5px;
    background-color: #782ebf;
    left: 125px;
    top: 0px;
}
.rzzt-logo4 > i+i {
    position: absolute;
    display: inline-block;
    width: 12.5px;
    height: 37.5px;
    background-color: #27aeb4;
    left: 137.5px;
    top: 25px;
}
.rzzt-logo4 > i+i+i {
    position: absolute;
    display: inline-block;
    width: 12.5px;
    height: 12.5px;
    background-color: #27aeb4;
    left: 125px;
    top: 25px;
}
