			@font-face {
			    font-family: 'Liberation-Mono';
			    src:url('Liberation-Mono.ttf.woff') format('woff'),
				url('Liberation-Mono.ttf.svg#Liberation-Mono') format('svg'),
				url('Liberation-Mono.ttf.eot'),
				url('Liberation-Mono.ttf.eot?#iefix') format('embedded-opentype'); 
			    font-weight: normal;
			    font-style: normal;
			}
			body { background-color:#FFFFFF; color:#000000; font-family: "Liberation-Mono", monospace; margin: 0px; padding: 0px; }
			#container_1 { background-color:#000000; }
			#container_1, #container_2 { margin:auto; width:100%; min-width:500px; font-family: "Liberation-Mono", monospace; }
			#logo_0 { color: rgb(255, 255, 255); margin: auto; text-align: center; font-size:0.7em;	font-family: "Liberation-Mono", monospace; }
			#logo_1 { margin: auto; width: 45em; font-family: "Liberation-Mono", monospace;}
